* {box-sizing: border-box;}
body {
	background-color: #0B0C10;
	padding: 2%;
}

P, li, div {
	color: white;
	font-size: 110%;
}

nav {
	display: block;
	margin: 20px;
	padding: 10px;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;

}

a {
	color: #45A29E;
	padding: 20px;
	margin: 20px;
	position: left center;
}

h1 {
	padding: px;
	text-align: center;
	color: #66FCF1;
}

#story {
	color: #66FCF1;
	text-decoration: underline;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
.storybox {
	text-align: center;
	margin-left: 25%;
	margin-top: 10px;
	color: white;
	width: 50%;
	height: 220px;
	overflow: hidden;
}

#storybg {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
	background-image: url("media\\background.jpg");
	width: 100%;
}

#videoButton {
	align-items: center;
	margin-left: 45%;
	color: white;
	border: solid #45A29E 3px;
	padding: 10px;
	font-weight: bold;
	font-size: 12pt;
}

.headings {
	text-align: center;
	color: #66FCF1;
	text-decoration: underline;
	margin: 20px;
}

#dreamsSection {
	background-image: url("media\\bg2.jpg");
	background-size: cover;
	padding: 10px;
	width: 100%;
}

#materialDream {
	background-color: #1F2833;
	box-shadow: 10px 0PX 10PX 0PX #C5C6C7;
	height: 670px;
	margin: 30px;
	padding: 10px;
	width: 45%;
	overflow: hidden;

}

#spiritualDream {
	background-color: #1F2833;
	box-shadow: 10px 0PX 10PX 0PX #C5C6C7;
	height: 620px;
	width: 45%;
	border-left: 1px solid black;
	padding: 10px;
	overflow: hidden;
}

.leftPhotos {
	width: 48%;
	height: 200px;
	margin-right: 5px;

}

.rightPhotos {
	width: 48%;
	height: 200px;
}

.quotes {
	box-sizing: border-box;
	background-color: #C5C6C7;
	position: relative;
	font-size: 130%;
	height: 100px;
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
}

.quoteAuthor {
	position: absolute;
	right: 5px;
	bottom: 2px;
}

#contacts {
	background-image: url("media\\bg3.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 30px;
	height: 350px;
	clear: left;
	padding: 5px;
	position: relative;

}

h4 {
	color: #45A29E;
	font-size: 2em;
}

.details {
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 110%;
}
#a {
	margin: 0px;
	padding: 0px;
}

.massageBox {
	position: absolute;
	right: 5px;
	bottom: 5px;
}